@import 'variables';
@import 'mixins';

.contato-hero-section {
	background-position: right;
}

.contato-cta-ajuda-container {
	border: 1px solid $cinza_medio;
	border-radius: 10px;
}

.tel-contato {
	font-size: 1.3rem;
	i {
		font-size: 1.9rem;
	}
}

.contato-mensagem {
	textarea {
		height: 150px;
	}
}

.wpcf7-response-output {
	font-size: 1.5rem !important;
	margin-top: 0 !important;

	&.wpcf7-mail-sent-ok {
		border: 1px solid $verde !important;
	}

	&.wpcf7-validation-errors,
	&.wpcf7-acceptance-missing {
		border: 1px solid $amarelo !important;
	}
}