@import 'variables';
@import 'mixins';

.footer-logo {
	width: 35%;

	@include mediaQuery(medium_devices) {
    	width: 65%;
  	}
}

.logo-cdl-footer {
	width: 60%;
}

.copyright {
	font-size: 0.9rem;

    @include mediaQuery(medium_devices) {
    	font-size: 1.1rem;
    }
}