@import 'mixins';
@import 'variables';

@font-face {
  font-family: Brandon;
  src: url('https://acerto.blob.core.windows.net/fonts-site/Brandon_med.otf');
}

@font-face {
  font-family: Brandon;
  src: url('https://acerto.blob.core.windows.net/fonts-site/Brandon_bld.otf');
  font-weight: 700;
}

@font-face {
  font-family: Brandon;
  src: url('https://acerto.blob.core.windows.net/fonts-site/Brandon_light.otf');
  font-weight: 300;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Brandon', sans-serif;
  font-weight: 300;
  color: $cinza_fonte;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 4rem;

  @include mediaQuery(medium_devices) {
    padding-bottom: 0;
  }
}

a {
  color: inherit;

	&:hover {
		text-decoration: none;
		opacity: 0.75;
    color: inherit;
	}
}

section {
  padding: 3rem 0;

  &.verde {
    background-color: $verde;
    color: white;
    border-bottom: 10px solid $amarelo;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.clearfix {
  clear: both;
}

.container {
  padding: 0;

  @include mediaQuery(large_devices) {
    max-width: 1240px;
  }
}

.material-icons {
  font-size: 24px;  /* Preferred icon size */
  line-height: 1;
  vertical-align: bottom;
}

$default-hero-section-height: 830px;
$default-hero-section-height-responsive: 650px;
.default-hero-section {
  padding: 0;
  background-size: cover;
  height: $default-hero-section-height-responsive;

  @include mediaQuery(medium_devices) {
    height: $default-hero-section-height;
    background-color: transparent;
  }

  .container {
    @include mediaQuery(medium_devices) {
      height: $default-hero-section-height-responsive;
    }
  } 

  .default-hero-section--content-wrapper {
    @include mediaQuery(medium_devices) {
      position: absolute;
      width: 100%;
      top: 40%;
      left: 0;
  }
  }
}

.form-input-acerto {
  border-radius: 30px;
  border-style: none;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.6rem 1.5rem;
}

.btn-acerto-hero {
  box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.75);
  margin-top: 1rem;

  @include mediaQuery(medium_devices) {
    position: absolute;
    right: 0;  
    box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.75);
    margin-top: 0;
  }
}

.form-input-acerto-hero {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid white;
  @include placeholderColor(white);
}

input[type=text] {
  outline: none;
}

.btn {
  white-space: normal;
  
  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  &.btn-acerto {
    background-color: $amarelo;
    border-color: $amarelo;
    border-radius: 30px;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0.6rem 0;
    width: 100%;

    @include mediaQuery(medium_devices) {
      font-size: 1.6rem;
      padding: 0.6rem 1.5rem;
      width: initial;
    }

    .material-icons {
      font-size: 40px;
      margin-right: 6px;
    }

    &:hover {
      background-color: $verde;
      border-color: $verde;
      opacity: 1;
    }

    &.btn-small {
      font-size: 0.9rem;
    }
  }

  &.btn-padding-large {
    @include mediaQuery(medium_devices) {
      padding: 0.6rem 2.3rem;
    }
  }
}

.btn-secondary {
  &.btn-acerto {
    background-color: $verde;
    border-color: $verde;
    border-radius: 30px;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 0.6rem 1.5rem;

    .material-icons {
      font-size: 40px;
      margin-right: 6px;
    }

    &:hover {
      opacity: 0.75;
    }

    &.btn-padding-large {
      padding: 0.6rem 2.3rem;
    }

    &.btn-small {
      font-size: 0.9rem;
    }
  }
}

.btn-terciary {
  &.btn-acerto {
    border-color: white;
    color: white;
    border-radius: 30px;

    &:hover {
      background-color: $verde;
      border-color: $verde;
      opacity: 1;
    }
  }
}

.btn-quarteary {
  &.btn-acerto {
    background-color: $amarelo;
    border-color: $amarelo;
    color: white;
    border-radius: 30px;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 0.6rem 1.5rem;
    width: 100%;

    @include mediaQuery(medium_devices) {
      width: initial;
    }

    .material-icons {
      font-size: 40px;
      margin-right: 6px;
    }

    &:hover {
      opacity: 0.9;
    }

    &.btn-padding-large {
      padding: 0.6rem 2.3rem;
    }

    &.btn-small {
      font-size: 0.9rem;
    }
  }
}

.input-group-prepend,
.input-group-append {
  .background-amarelo {
    border-color: $amarelo;
  }
}

.border-none {
  border: none;
}

.text-color-white {
  color: white;
}

.text-color-white-md {
  @include mediaQuery(medium_devices) {
    color: white;
  }
}

.text-color-verde {
  color: $verde;
}

.text-color-azul {
  color: $azul;
}

.text-color-amarelo {
  color: $amarelo;
}

.background-verde {
  background-color: $verde;
}

.background-azul {
  background-color: $azul;
}

.background-amarelo {
  background-color: $amarelo;
}

.background-cinza-claro {
  background-color: $cinza_claro;
}

.hr-white {
  border-top: 1px solid white;
  opacity: 0.4;
}

.hr-black {
  border-top: 1px solid #000;
  opacity: 0.4;
}

.hr-cinza {
  border-top: 1px solid $cinza_claro;
  opacity: 0.4;
}

.font-xxxlarge {
  font-size: 2.8rem;

  @include mediaQuery(medium_devices) {
    font-size: 3.8rem;
  }
}

.font-xxlarge {
  font-size: 2rem;

  @include mediaQuery(medium_devices) {
    font-size: 3rem;
  }
}

.font-xxlarge-md {
  @include mediaQuery(medium_devices) {
    font-size: 3rem;
  }
}

.font-xlarge {
  font-size: 1.5rem;

  @include mediaQuery(medium_devices) {
    font-size: 2rem;
  }
}

.font-large {
  font-size: 1.5rem;
}

.font-normal {
  font-size: 1.3rem;
}

.font-small {
  font-size: 1rem;
}

.template-texto-esquerda-hero {
  min-height: 230px; 
  background-size: cover;
  background-position: center;
}

.absolute-align-center {
  @include absoluteAlignCenterLeft();
}

.hero-section-com-bg {
  min-height: 230px; 
  background-size: cover;
  background-position: center;
}

.separador-vertical-verde {
  border: 1px solid $cinza_escuro;
  vertical-align: middle;
  height: 50px;
  display: inline-block;
}

.middle-cta-form {
  @include mediaQuery(medium_devices) {
    width: 50%;
  }
}

.width-md-40 {
  @include mediaQuery(medium_devices) {
    width: 40%;
  }
}


.width-md-50 {
  @include mediaQuery(medium_devices) {
    width: 50%;
  }
}

.width-md-75 {
  @include mediaQuery(medium_devices) {
    width: 75%;
  }
}

.width-xs-100 {
  width: 100%;

  @include mediaQuery(medium_devices) {
    width: initial;
  }
}

.text-xs-center {
  text-align: center;

  @include mediaQuery(medium_devices) {
    text-align: initial;
  }
}

.pb-xs-0 {
  @include mediaQuery(extra_small_devices) {
    padding-bottom: 0;
  }
}

.modal-content {
  border-radius: 0.4rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#icegram_messages_container {
  @include mediaQuery(extra_small_devices) {
    display: none !important;
  }
}

.zopim {
  bottom: 56px !important;
  left: 1px !important;
  
  @include mediaQuery(medium_devices) {
    left: inherit !important;
    right: 50px !important;
    bottom: 0!important;
  }
}