@import 'variables';
@import 'mixins';

$top-padding: 2rem;

.main-navbar {    
    padding: 0.5rem;
    z-index: 10000;
    position: fixed;
    width: 100%;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.3);
    background-color: white;
    bottom: 0;

    @include mediaQuery(medium_devices) {
    	padding: 0.9rem;
    	position: absolute;
    	width: 70%;
    	left: 4%;
    	margin: 0;
    	top: $top-padding;
    	background-color: rgba(0, 0, 0, 0.15);
    	border-radius: 1.3rem;
    	bottom: initial;
    }
}

.logo-main-navbar {
	width: 85px;

	@include mediaQuery(medium_devices) {
    	width: 120px;
    }

    @include mediaQuery(large_devices) {
    	width: 130px;
    }
}

.logo-cdl-main-navbar {
	width: 70px;

	@include mediaQuery(medium_devices) {
    	width: 80px;
    }

    @include mediaQuery(large_devices) {
    	width: 95px;
    }
}

.main-navbar-container {
	ul {
		display: inline-block;

		li {
			vertical-align: middle;
			display: inline-block;
			margin: 0 0.8rem;
			font-size: 1rem;

			@include mediaQuery(medium_devices) {
		    	margin: 0 0.3rem;
		    	font-size: 0.8rem;
		    }

		    @include mediaQuery(large_devices) {
		    	margin: 0 0.8rem;
		    	font-size: 1rem;
		    }

			a {
				text-transform: uppercase;
				color: white;
			}
		}
	}
}

.botao-consulte-seu-cpf-container {
	position: absolute;
    top: $top-padding + 0.4rem;
    overflow: hidden;
    z-index: 100;

    @include mediaQuery(medium_devices) {
    	right: 2%;
    }

    @include mediaQuery(large_devices) {
    	right: 7%;
    }

    &:hover {
    	cursor: pointer;
    	opacity: 1;

    	.botao-consulte-seu-cpf-hover {
    		top: 0;
    	}
    }

    .botao-consulte-seu-cpf {
    	padding: 1.3rem;
	    border-radius: 4px;
	    display: block;
	    width: 220px;
	    text-align: center;
    }

	.botao-consulte-seu-cpf-front {
		background-color: white;
	}

	.botao-consulte-seu-cpf-hover {
		background-color: $amarelo;
		position: absolute;
    	top: -66px;
    	color: white;
    	transition: all .3s ease;
	}
}

.menu-responsive-icon {

	.material-icons {
		font-size: 2.4rem;
	}
}

.main-navbar-responsive-container {
	font-size: 1.2rem;

	li {
		margin-bottom: 1rem;
	}

	.btn-terciary {
		&.btn-acerto {
			color: $verde;
			border-color: $verde;
			padding-right: 3rem !important;
    		padding-left: 3rem !important;
		}
	}
}

.botao-consulte-seu-cpf-responsive {
	&.btn-acerto {
		font-size: 1.2rem;
	}
}