/* Screen Sizes */
$large_devices: "min-width : 1200px";
$medium_devices: "min-width : 992px";
$small_devices: "min-width : 768px";
$extra_small_devices: "max-width : 767px";
$tablet_devices: "(min-width : 767px) and (max-width : 1200px)";

/* Colors */
$verde: #45e092;
$azul: #3e96f0;
$amarelo: #faaf00;
$cinza_claro: #F5F5F5;
$cinza_escuro: #d8d8d8;
$cinza_medio: #b7b7b7;
$cinza_fonte: #212529;