/* Screen Sizes */
/* Colors */
.footer-logo {
  width: 35%; }
  @media only screen and (min-width: 992px) {
    .footer-logo {
      width: 65%; } }

.logo-cdl-footer {
  width: 30%; }
  @media only screen and (min-width: 992px) {
    .logo-cdl-footer {
      width: 60%; } }

.copyright {
  font-size: 0.9rem; }
  @media only screen and (min-width: 992px) {
    .copyright {
      font-size: 1.1rem; } }

.btn-agendar-ligacao:hover {
  background-color: #faaf00;
  border-color: #faaf00;
  opacity: 1 !important; }
