/* Screen Sizes */
/* Colors */
.footer-logo {
  width: 35%; }
  @media only screen and (min-width: 992px) {
    .footer-logo {
      width: 65%; } }

.logo-cdl-footer {
  width: 60%; }

.copyright {
  font-size: 0.9rem; }
  @media only screen and (min-width: 992px) {
    .copyright {
      font-size: 1.1rem; } }
