/* Screen Sizes */
/* Colors */
.index-hero-section {
  height: 600px;
  background-image: url("../images/banner-hero-image-mobile.png"); }
  @media only screen and (min-width: 992px) {
    .index-hero-section {
      height: 830px;
      background-image: url("../images/banner-hero-image.png"); } }
  .index-hero-section .container {
    height: 600px; }
    @media only screen and (min-width: 992px) {
      .index-hero-section .container {
        height: 430px; } }

.logo-cdl-garantido-por {
  width: 90px; }

.index-credores-section .credores-section--circulo {
  border-radius: 50%;
  background-color: #45e092;
  height: 800px;
  width: 800px;
  position: absolute;
  top: -180px;
  z-index: -10;
  right: -25%; }

.index-credores-section--credores-wrapper {
  background-color: #45e092; }
  @media only screen and (min-width: 992px) {
    .index-credores-section--credores-wrapper {
      width: 70%;
      float: right; } }

.tooltip-disclaimer-credor {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.3rem;
  z-index: 10; }
  @media only screen and (min-width: 992px) {
    .tooltip-disclaimer-credor {
      right: 28px; } }
  .tooltip-disclaimer-credor:hover {
    cursor: pointer; }

.index-como-funciona-section--background {
  position: absolute;
  z-index: -1; }
  @media only screen and (min-width: 992px) {
    .index-como-funciona-section--background {
      width: 150%;
      top: 0; } }
  @media only screen and (min-width: 1200px) {
    .index-como-funciona-section--background {
      width: 100%;
      top: -50px; } }

@media only screen and (min-width: 992px) {
  .index-cdl-section--background {
    background-image: url("../images/background-index-cdl.png");
    height: 1210px;
    background-size: cover;
    background-position: center; } }

@media only screen and (min-width: 992px) {
  .index-cdl-section--content-container {
    height: 1210px; } }

.index-cdl-section--content-wrapper {
  top: 11%;
  right: 0; }
  @media only screen and (min-width: 992px) {
    .index-cdl-section--content-wrapper {
      position: absolute; } }

.index-cdl-section--content-acerto {
  background-color: #45e092; }
  @media only screen and (min-width: 992px) {
    .index-cdl-section--content-acerto {
      position: absolute;
      right: 0;
      bottom: 10%;
      width: 30%;
      background-color: transparent; } }

@media only screen and (min-width: 992px) {
  .index-beneficios-section div:nth-child(2) {
    padding-top: 3rem; }
  .index-beneficios-section div:nth-child(3) {
    padding-top: 6rem; }
  .index-beneficios-section div:nth-child(4) {
    padding-top: 9rem; } }

.index-opniao-section {
  background-color: #DBDCDE; }
  @media only screen and (min-width: 992px) {
    .index-opniao-section {
      margin: 11rem 0; } }
  @media only screen and (min-width: 992px) {
    .index-opniao-section .index-background-depoimentos-top {
      top: -24.5%; } }
  @media only screen and (min-width: 1200px) {
    .index-opniao-section .index-background-depoimentos-top {
      top: -28.5%; } }
  @media only screen and (min-width: 1300px) {
    .index-opniao-section .index-background-depoimentos-top {
      top: -31%; } }
  @media only screen and (min-width: 992px) {
    .index-opniao-section .index-background-depoimentos-bottom {
      bottom: -24.5%; } }
  @media only screen and (min-width: 1200px) {
    .index-opniao-section .index-background-depoimentos-bottom {
      bottom: -28.5%; } }
  @media only screen and (min-width: 1300px) {
    .index-opniao-section .index-background-depoimentos-bottom {
      bottom: -31%; } }

.carousel-depoimentos .carousel-control-prev {
  left: -15px; }
  @media only screen and (min-width: 992px) {
    .carousel-depoimentos .carousel-control-prev {
      left: 40px;
      top: -30%; } }

.carousel-depoimentos .carousel-control-next {
  right: -15px; }
  @media only screen and (min-width: 992px) {
    .carousel-depoimentos .carousel-control-next {
      right: 40px;
      top: -30%; } }

.carousel-depoimentos .carousel-inner {
  width: 80%; }
  @media only screen and (min-width: 992px) {
    .carousel-depoimentos .carousel-inner {
      width: 100%; } }

.carousel-depoimentos .carousel-depoimentos-texto {
  min-height: 150px; }

.falando-sobre-imprensa {
  padding: 50px;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 1px solid #b7b7b7; }
  .falando-sobre-imprensa a:hover .img-noticia {
    opacity: 0.7; }

.img-noticia-container {
  height: 80px;
  position: relative; }

.img-noticia {
  max-height: 70px;
  max-width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.index-seta-cta {
  top: 25%;
  right: 10%; }

.home-carousel-credores-control {
  color: #faaf00;
  top: 20%;
  position: absolute;
  font-size: 3rem; }
  .home-carousel-credores-control.home-carousel-credores-control--next {
    right: -40px; }
  .home-carousel-credores-control.home-carousel-credores-control--prev {
    left: -40px; }
  .home-carousel-credores-control:hover {
    cursor: pointer;
    color: #3e96f0; }
  @media only screen and (max-width: 767px) {
    .home-carousel-credores-control {
      display: none !important; } }

@media only screen and (max-width: 767px) {
  .slick-slide {
    text-align: center; } }

.confianca-col {
  height: 300px; }
  .confianca-col.confianca-col-1 {
    background-color: #45e092; }
  .confianca-col.confianca-col-3 {
    background-color: #183171; }
  .confianca-col .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.como-funciona-video-container {
  border-radius: 10px; }

.img-falando-sobre-usuarios {
  max-height: 40px; }

.como-funciona img {
  max-width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal-video-quite .modal-dialog {
  max-width: 750px !important; }
