/* Screen Sizes */
/* Colors */
.perguntas-frequentes-hero-section {
  background-image: url("../images/banner-perguntas-frequentes.png"); }

.perguntas-frequentes-nav-container {
  border-radius: 5px;
  border: 1px solid #45e092; }

.perguntas-frequentes-categoria-nav:hover {
  color: #45e092; }

.perguntas-frequentes-categoria-nav:not(:last-child) {
  border-bottom: 1px solid #45e092; }

.perguntas-frequentes-categoria-container a:hover {
  color: #45e092;
  opacity: 1; }

.perguntas-frequentes-categoria-titulo {
  border-bottom: 2px solid #45e092; }

.perguntas-frequentes-container {
  min-height: 500px; }

.perguntas-frequentes-link {
  font-size: 1.6rem; }
  .perguntas-frequentes-link i {
    line-height: 2.2rem; }

@media only screen and (min-width: 992px) {
  .single-ajuda-container {
    width: 60%; } }

@media only screen and (max-width: 767px) {
  .nao-tenho-mais-duvidas.btn-primary.btn-acerto {
    font-size: 0.9rem; } }

@media only screen and (min-width: 992px) {
  .search-form {
    width: 600px; } }

/** Raiting **/
.single-ajuda-rating {
  border: 1px solid #b7b7b7;
  border-radius: 10px; }
  .single-ajuda-rating .likebtn-button {
    border-radius: 5px !important;
    background-color: transparent !important;
    padding: 4px 16px !important;
    margin: 0 5px 10px !important;
    display: block !important; }
    @media only screen and (min-width: 992px) {
      .single-ajuda-rating .likebtn-button {
        display: inline-block !important;
        margin: 0 5px !important; } }
    .single-ajuda-rating .likebtn-button.lb-like {
      border: 1px solid #45e092 !important; }
      .single-ajuda-rating .likebtn-button.lb-like .likebtn-label {
        color: #45e092 !important; }
      .single-ajuda-rating .likebtn-button.lb-like .likebtn-icon {
        color: #45e092 !important; }
      .single-ajuda-rating .likebtn-button.lb-like:hover, .single-ajuda-rating .likebtn-button.lb-like.lb-voted {
        background-color: #45e092 !important; }
        .single-ajuda-rating .likebtn-button.lb-like:hover .likebtn-label, .single-ajuda-rating .likebtn-button.lb-like.lb-voted .likebtn-label {
          color: white !important; }
        .single-ajuda-rating .likebtn-button.lb-like:hover .likebtn-icon, .single-ajuda-rating .likebtn-button.lb-like.lb-voted .likebtn-icon {
          color: white !important; }
    .single-ajuda-rating .likebtn-button.lb-dislike {
      border: 1px solid #ee0e0e !important; }
      .single-ajuda-rating .likebtn-button.lb-dislike .likebtn-label {
        color: #ee0e0e !important; }
      .single-ajuda-rating .likebtn-button.lb-dislike .likebtn-icon {
        color: #ee0e0e !important; }
      .single-ajuda-rating .likebtn-button.lb-dislike:hover, .single-ajuda-rating .likebtn-button.lb-dislike.lb-voted {
        background-color: #ee0e0e !important; }
        .single-ajuda-rating .likebtn-button.lb-dislike:hover .likebtn-label, .single-ajuda-rating .likebtn-button.lb-dislike.lb-voted .likebtn-label {
          color: white !important; }
        .single-ajuda-rating .likebtn-button.lb-dislike:hover .likebtn-icon, .single-ajuda-rating .likebtn-button.lb-dislike.lb-voted .likebtn-icon {
          color: white !important; }

.link-pesquisa-perguntas-frequentes {
  border-bottom: 1px solid #d8d8d8; }
